
        <h1>Recipe <%= @recipe.name %> </h1>
        <p> Recipe Name: <%= @recipe.name %> </p>
        <p> Recipe ingredients: <%= @recipe.ingredients %> </p>
        <p> Recipe cook time: <%= @recipe.cook_time %> </p>

        <form action="/recipes/<%= @recipe.id %>" method="post">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <button type="submit">delete </button>
        </form> 
        
   